:host {
    display: flex;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 435px;
    min-height: 230px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    --border-radius: 10px;
    --category-icon-size: 18px;
    --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    --font-size: 15px;
    --shadow-color: 0deg 0% 0%;
    --shadow:
      0.3px 0.5px 2.7px hsl(var(--shadow-color) / 0.14),
      0.4px 0.8px 1px -3.2px hsl(var(--shadow-color) / 0.14),
      1px 2px 2.5px -4.5px hsl(var(--shadow-color) / 0.14);
  }
  
  [data-theme=light] {
    --em-rgb-color: var(--rgb-color, 34, 36, 39);
    --em-rgb-accent: var(--rgb-accent, 34, 102, 237);
    --em-rgb-background: var(--rgb-background, 255, 255, 255);
    --em-rgb-input: var(--rgb-input, 255, 255, 255);
    --em-color-border: var(--color-border, rgba(0, 0, 0, .05));
    --em-color-border-over: var(--color-border-over, rgba(0, 0, 0, .1));
  }
  
  [data-theme=dark] {
    --em-rgb-color: var(--rgb-color, 222, 222, 221);
    --em-rgb-accent: var(--rgb-accent, 58, 130, 247);
    --em-rgb-background: var(--rgb-background, 21, 22, 23);
    --em-rgb-input: var(--rgb-input, 0, 0, 0);
    --em-color-border: var(--color-border, rgba(255, 255, 255, .1));
    --em-color-border-over: var(--color-border-over, rgba(255, 255, 255, .2));
  }
  
  #root {
    --color-a: rgb(var(--em-rgb-color));
    --color-b: rgba(var(--em-rgb-color), .65);
    --color-c: rgba(var(--em-rgb-color), .45);
    --padding: 12px;
    --padding-small: calc(var(--padding) / 2);
    --sidebar-width: 16px;
    --duration: 225ms;
    --duration-fast: 125ms;
    --duration-instant: 50ms;
    --easing: cubic-bezier(.4, .0, .2, 1);
    position: relative;
    width: 100%;
    text-align: left;
    border-radius: var(--border-radius);
    background-color: rgb(var(--em-rgb-background));
  }
  
  @media (prefers-reduced-motion) {
    #root {
      --duration: 0;
      --duration-fast: 0;
      --duration-instant: 0;
    }
  }
  
  #root[data-menu] button {
    cursor: auto;
  }
  
  #root[data-menu] .menu button {
    cursor: pointer;
  }
  
  :host, #root, input, button {
    color: rgb(var(--em-rgb-color));
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
  }
  
  .relative {
    position: relative;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .flex-center {
    justify-content: center;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-grow {
    flex: 1 1 auto;
  }
  
  .flex-middle {
    align-items: center;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .padding {
    padding: var(--padding);
  }
  
  .padding-t {
    padding-top: var(--padding);
  }
  
  .padding-lr {
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
  
  .padding-r {
    padding-right: var(--padding);
  }
  
  .padding-small {
    padding: var(--padding-small);
  }
  
  .padding-small-b {
    padding-bottom: var(--padding-small);
  }
  
  .padding-small-lr {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }
  
  .margin {
    margin: var(--padding);
  }
  
  .margin-l {
    margin-left: var(--padding);
  }
  
  .margin-small-l {
    margin-left: var(--padding-small);
  }
  
  .margin-small-lr {
    margin-left: var(--padding-small);
    margin-right: var(--padding-small);
  }
  
  .color-a {
    color: var(--color-a);
  }
  
  .color-b {
    color: var(--color-b);
  }
  
  .color-c {
    color: var(--color-c);
  }
  
  .ellipsis {
    white-space: nowrap;
    max-width: 100%;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  a {
    cursor: pointer;
    color: rgb(var(--em-rgb-accent));
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .spacer {
    height: 10px;
  }
  
  .scroll {
    overflow: auto;
    overflow-x: hidden;
    padding-right: 0;
  }
  
  .scroll::-webkit-scrollbar {
    width: var(--sidebar-width);
    height: var(--sidebar-width);
  }
  
  .scroll::-webkit-scrollbar-track {
    border: 0;
  }
  
  .scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  
  .scroll::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    min-height: 20%;
    min-height: 65px;
    border: 4px solid rgb(var(--em-rgb-background));
    border-radius: 8px;
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--em-color-border-over) !important;
  }
  
  .scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--em-color-border);
  }
  
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: -1px;
    font-weight: 500;
    background-color: rgba(var(--em-rgb-background), 0.9);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  
  .search {
    z-index: 2;
    position: relative;
  }
  
  .search input, .search button {
    font-size: calc(var(--font-size) - 1px);
  }
  
  .search input[type=search] {
    display: block;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 2em 10px 2.2em;
    border-radius: 10px;
    background-color: var(--em-color-border);
    transition-duration: var(--duration);
    transition-property: background-color, box-shadow;
    transition-timing-function: var(--easing);
  }
  
  .search input[type=search]::-moz-placeholder {
    color: inherit;
    opacity: 0.6;
  }
  
  .search input[type=search]:-ms-input-placeholder {
    color: inherit;
    opacity: 0.6;
  }
  
  .search input[type=search]::placeholder {
    color: inherit;
    opacity: 0.6;
  }
  
  .search input[type=search], .search input[type=search]::-webkit-search-decoration, .search input[type=search]::-webkit-search-cancel-button, .search input[type=search]::-webkit-search-results-button, .search input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
            appearance: none;
  }
  
  .search input[type=search]:focus {
    background-color: rgb(var(--em-rgb-input));
    box-shadow: inset 0 0 0 1px rgb(var(--em-rgb-accent)), 0 1px 3px rgba(65, 69, 73, 0.2);
  }
  
  .search .icon {
    z-index: 1;
    position: absolute;
    top: 50%;
    color: rgba(var(--em-rgb-color), 0.7);
    transform: translateY(-50%);
  }
  
  .search .loupe {
    left: 0.7em;
    pointer-events: none;
  }
  
  .search .delete {
    right: 0.7em;
  }
  
  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
  
  button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer;
    color: currentColor;
    border: 0;
    background-color: transparent;
  }
  
  #nav {
    z-index: 2;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: var(--sidebar-width);
  }
  
  #nav button {
    color: var(--color-b);
    transition: color var(--duration) var(--easing);
  }
  
  #nav button:hover {
    color: var(--color-a);
  }
  
  #nav svg, #nav img {
    width: var(--category-icon-size);
    height: var(--category-icon-size);
  }
  
  #nav .bar {
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(var(--em-rgb-accent));
    border-radius: 3px 3px 0 0;
    transition: transform var(--duration) var(--easing);
  }
  
  #nav button[aria-selected] {
    color: rgb(var(--em-rgb-accent));
  }
  
  #preview {
    z-index: 2;
    position: relative;
    padding: calc(var(--padding) + 4px) var(--padding);
    padding-right: var(--sidebar-width);
  }
  
  #nav:before, #preview:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
  }
  
  #nav[data-position=top]:before, #preview[data-position=top]:before {
    top: 100%;
    background: linear-gradient(to bottom, var(--em-color-border), transparent);
  }
  
  #nav[data-position=bottom]:before, #preview[data-position=bottom]:before {
    bottom: 100%;
    background: linear-gradient(to top, var(--em-color-border), transparent);
  }
  
  .category button {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  }
  
  .category button > * {
    position: relative;
  }
  
  .category button .background {
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: var(--em-color-border);
    transition: opacity var(--duration-fast) var(--easing) var(--duration-instant);
  }
  
  .category button:hover .background {
    transition-duration: var(--duration-instant);
    transition-delay: 0ms;
  }
  
  .category button[aria-selected] .background {
    opacity: 1;
  }
  
  .category button[data-keyboard] .background {
    transition: none;
  }
  
  .row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .skin-tone-button {
    border-radius: 100%;
    border: 1px solid transparent;
  }
  
  .skin-tone-button:hover {
    border-color: var(--em-color-border);
  }
  
  .skin-tone-button:active .skin-tone {
    transform: scale(0.85) !important;
  }
  
  .skin-tone-button .skin-tone {
    transition: transform var(--duration) var(--easing);
  }
  
  .skin-tone-button[aria-selected] {
    border-left-width: 0;
    border-right-width: 0;
    border-top-color: rgba(0, 0, 0, 0.05);
    border-bottom-color: transparent;
    background-color: var(--em-color-border);
  }
  
  .skin-tone-button[aria-selected] .skin-tone {
    transform: scale(0.9);
  }
  
  .menu {
    z-index: 2;
    position: absolute;
    white-space: nowrap;
    padding: 4px;
    border: 1px solid var(--em-color-border);
    background-color: rgba(var(--em-rgb-background), 0.9);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
    transition-property: opacity, transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--easing);
  }
  
  .menu.hidden {
    opacity: 0;
  }
  
  .menu[data-position=bottom] {
    transform-origin: bottom right;
  }
  
  .menu[data-position=bottom].hidden {
    transform: scale(0.9) rotate(-3deg) translateY(5%);
  }
  
  .menu[data-position=top] {
    transform-origin: top right;
  }
  
  .menu[data-position=top].hidden {
    transform: scale(0.9) rotate(3deg) translateY(-5%);
  }
  
  .menu input[type=radio] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  .menu input[type=radio]:checked + .option {
    box-shadow: 0 0 0 2px rgb(var(--em-rgb-accent));
  }
  
  .option {
    width: 100%;
    padding: 4px 6px;
    border-radius: 6px;
  }
  
  .option:hover {
    color: #fff;
    background-color: rgb(var(--em-rgb-accent));
  }
  
  .skin-tone {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    overflow: hidden;
  }
  
  .skin-tone:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    mix-blend-mode: overlay;
    box-shadow: inset 0 -2px 3px #000, inset 0 1px 2px #fff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  }
  
  .skin-tone-1 {
    background-color: #ffc93a;
  }
  
  .skin-tone-2 {
    background-color: #ffdab7;
  }
  
  .skin-tone-3 {
    background-color: #e7b98f;
  }
  
  .skin-tone-4 {
    background-color: #c88c61;
  }
  
  .skin-tone-5 {
    background-color: #a46134;
  }
  
  .skin-tone-6 {
    background-color: #5d4437;
  }
  
  [data-emoji-set=twitter] .skin-tone:after {
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
  }
  
  [data-emoji-set=twitter] .skin-tone-1 {
    background-color: #FADE72;
  }
  
  [data-emoji-set=twitter] .skin-tone-2 {
    background-color: #F3DFD0;
  }
  
  [data-emoji-set=twitter] .skin-tone-3 {
    background-color: #EED3A8;
  }
  
  [data-emoji-set=twitter] .skin-tone-4 {
    background-color: #CFAD8D;
  }
  
  [data-emoji-set=twitter] .skin-tone-5 {
    background-color: #A8805D;
  }
  
  [data-emoji-set=twitter] .skin-tone-6 {
    background-color: #765542;
  }
  
  [data-emoji-set=google] .skin-tone:after {
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }
  
  [data-emoji-set=google] .skin-tone-1 {
    background-color: #F5C748;
  }
  
  [data-emoji-set=google] .skin-tone-2 {
    background-color: #F1D5AA;
  }
  
  [data-emoji-set=google] .skin-tone-3 {
    background-color: #D4B48D;
  }
  
  [data-emoji-set=google] .skin-tone-4 {
    background-color: #AA876B;
  }
  
  [data-emoji-set=google] .skin-tone-5 {
    background-color: #916544;
  }
  
  [data-emoji-set=google] .skin-tone-6 {
    background-color: #61493F;
  }
  
  [data-emoji-set=facebook] .skin-tone:after {
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 -2px 3px #000, inset 0 1px 4px #fff;
  }
  
  [data-emoji-set=facebook] .skin-tone-1 {
    background-color: #F5C748;
  }
  
  [data-emoji-set=facebook] .skin-tone-2 {
    background-color: #F1D5AA;
  }
  
  [data-emoji-set=facebook] .skin-tone-3 {
    background-color: #D4B48D;
  }
  
  [data-emoji-set=facebook] .skin-tone-4 {
    background-color: #AA876B;
  }
  
  [data-emoji-set=facebook] .skin-tone-5 {
    background-color: #916544;
  }
  
  [data-emoji-set=facebook] .skin-tone-6 {
    background-color: #61493F;
  }